<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>文書作成フォーム</title>
	<link rel="stylesheet" href="css/documentForm.css">
</head>

<body>
	<div class="container">
		<h1>文書作成フォーム</h1>
		<p>患者名: <span th:text="${patient.name}">[患者名]</span></p>
		<p>患者ID: <span th:text="${patient.patientId}">[患者ID]</span></p>
		<div>
			<label for="documentType">文書タイプ:</label>
			<select id="documentType" name="documentType" class="form-select" onchange="showFormSection()">
				<option value="">-- 文書を選択してください --</option>
				<option value="referral">紹介状 (Referral letter)</option>
				<option value="clinicalFindings">診療所見 (Clinical findings)</option>
			</select>
		</div>
		<!-- 紹介状のフォーム部分 -->
		<div id="referralForm" class="form-section" style="display:none;">
			<h2>紹介状</h2>
			<!-- ここに紹介状フォームのフィールドを追加 -->
			<div class="container">
				<div class="title">診療情報提供書（患者紹介）</div>

				<table class="header-section">
					<tr>
						<!-- Left section for Referred Medical Institution -->
						<td style="vertical-align: top; padding-right: 20px;">
							<label for="referralHospitalSelect">紹介先医療機関:</label>
							<select id="referralHospitalSelect" name="hospital" onchange="loadDepartments('referral')">
								<!-- Populate this dropdown with hospital names from your database -->
								<option value="">--選択してください--</option>
								<th:block th:each="hospital : ${hospitals}">
									<option th:value="${hospital.hospitalId}" th:text="${hospital.hospitalName}">
									</option>
								</th:block>
							</select>
							<br>
							<label for="referralDepartmentSelect">診療科:</label>
							<select id="referralDepartmentSelect" name="department">
								<!-- Populate this dropdown with department names based on the selected hospital -->
								<option value="">--選択してください--</option>
							</select>
							<br>
							<label for="	referralDoctorName">担当医師名:</label>
							<input type="text" id="referralDoctorName" name="doctorName" value="[担当医師名]">
						</td>

						<!-- Right section for Introducing Medical Institution -->
						<td style="vertical-align: top;">
							<p>紹介日: <span th:text="${#dates.format(new java.util.Date(), 'yyyy-MM-dd')}"></span></p>
							<p>紹介元医療機関: <span th:text="${userInfoSession.hospitalName}"></span></p>
							<p>医師氏名: <span th:text="${userInfoSession.name}"></span></p>
							<p>所在地: 〒<span th:text="${userInfoSession.postcode}+${userInfoSession.address}"></span></p>
							<p>電話番号: <span th:text="${userInfoSession.number}"></span></p>
						</td>
					</tr>
				</table>

				<table>
					<tr>
						<td>患者氏名</td>
						<td colspan="2"><input type="text" class="input-box" th:value="${patient.name}"></td>
						<td>性別</td>
						<td><input type="text" class="input-box" th:value="${patient.gender}"></td>
					</tr>
					<tr>
						<td>住所</td>
						<td colspan="4"><input type="text" class="input-box" th:value="${patient.address}"></td>
					</tr>
					<tr>
						<td>電話番号</td>
						<td colspan="2"><input type="text" class="input-box" th:value="${patient.contactNum}"></td>
						<td>生年月日</td>
						<td><input type="text" class="input-box" th:value="${patient.dateOfBirth}"></td>
					</tr>
					<tr>
						<td>傷病名</td>
						<td colspan="4"><input type="text" class="input-box large-input-box"></td>
					</tr>
					<tr>
						<td>紹介目的</td>
						<td colspan="4"><input type="text" class="input-box large-input-box"></td>
					</tr>
					<tr>
						<td>既往歴</td>
						<td colspan="4"><input type="text" class="input-box large-input-box"></td>
					</tr>
					<tr>
						<td>家族歴</td>
						<td colspan="4"><input type="text" class="input-box large-input-box"></td>
					</tr>
					<tr>
						<td>現症（診断内容）</td>
						<td colspan="4"><input type="text" class="input-box large-input-box"></td>
					</tr>
					<tr>
						<td>治療過過</td>
						<td colspan="4"><input type="text" class="input-box large-input-box"></td>
					</tr>
					<tr>
						<td>現在の処方</td>
						<td colspan="4"><input type="text" class="input-box large-input-box"></td>
					</tr>
					<tr>
						<td>身体所見</td>
						<td colspan="4"><input type="text" class="input-box large-input-box"></td>
					</tr>
					<tr>
						<td>生活習慣</td>
						<td colspan="4"><input type="text" class="input-box large-input-box"></td>
					</tr>
					<tr>
						<td>診療内容</td>
						<td colspan="4"><input type="text" class="input-box large-input-box"></td>
					</tr>
				</table>
			</div>
			<button type="submit">紹介状を保存</button>
		</div>

		<!-- 診療所見のフォーム部分 -->

		<div id="clinicalFindingsForm" class="form-section" style="display:none;">
			<form th:action="@{/saveClinicalFindings}" th:object="${clinicalFindingsDto}" method="post">

				<h2>診療所見</h2>
				<!-- ここに診療所見フォームのフィールドを追加 -->
				<div class="container">
					<div class="title">診療所見</div>

					<table class="header-section">
						<tr> <!-- Left section for Referred Medical Institution -->
							<td style="vertical-align: top; padding-right: 20px;">
								<label for="clinicalHospitalSelect">紹介先医療機関:</label>
								<select id="clinicalHospitalSelect" name="hospital"
									onchange="loadDepartments('clinical')">
									<!-- Populate this dropdown with hospital names from your database -->
									<option value="">--選択してください--</option>
									<th:block th:each="hospital : ${hospitals}">
										<option th:value="${hospital.hospitalId}" th:text="${hospital.hospitalName}">
										</option>
									</th:block>
								</select>
								<br>
								<label for="clinicalDepartmentSelect">診療科:</label>
								<select id="clinicalDepartmentSelect" name="department">
									<!-- Populate this dropdown with department names based on the selected hospital -->
									<option value="">--選択してください--</option>
								</select>
								<br>
								<label for="clinicalDoctorName">担当医師名:</label>
								<input type="text" id="clinicalDoctorName" name="doctorName" value="[担当医師名]">
							</td>

							<!-- Right section for Introducing Medical Institution -->
							<td style="vertical-align: top;">
								<p>紹介日: <span th:text="${#dates.format(new java.util.Date(), 'yyyy-MM-dd')}"></span>
								</p>
								<p>紹介元医療機関: <span th:text="${userInfoSession.hospitalName}"></span></p>
								<p>医師氏名: <span th:text="${userInfoSession.name}"></span></p>
								<p>所在地: 〒<span th:text="${userInfoSession.postcode}+	${userInfoSession.address}"></span>
								</p>
								<p>電話番号: <span th:text="${userInfoSession.number}"></span></p>
							</td>
						</tr>
					</table>

					<table>
						<tr>
							<td>患者氏名</td>
							<td colspan="2"><input type="text" class="input-box" th:value="${patient.name}"></td>
							<td>性別</td>
							<td><input type="text" class="input-box" th:value="${patient.gender}"></td>
						</tr>
						<tr>
							<td>住所</td>
							<td colspan="4"><input type="text" class="input-box" th:value="${patient.address}"></td>
						</tr>
						<tr>
							<td>電話番号</td>
							<td colspan="2"><input type="text" class="input-box" th:value="${patient.contactNum}"></td>
							<td>生年月日</td>
							<td><input type="text" class="input-box" th:value="${patient.dateOfBirth}"></td>
						</tr>
						<tr>
							<td>所見日</td>
							<td colspan="4"><input type="date" class="input-box"
									th:value="${#dates.format(new java.util.Date())}" name="consultationDate"></td>
						</tr>
						<tr>
							<td>Subjective</td>
							<td colspan="4" name="subjective"><textarea class="large-input-box"></textarea></td>
						</tr>
						<tr>
							<td>Objective</td>
							<td colspan="4" name="objective"><textarea class="large-input-box"></textarea></td>
						</tr>
						<tr>
							<td>Assessment</td>
							<td colspan="4" name="assessment"><textarea class="large-input-box"></textarea></td>
						</tr>
						<tr>
							<td>Plan</td>
							<td colspan="4" name="plan"><textarea class="large-input-box"></textarea></td>
						</tr>
					</table>

				</div>

				<input type="hidden" th:text="${patient.patientId}" name="patientId" />
				<input type="hidden" th:text="${userInfoSession.doctorId}" name="doctorId" />

				<button type="submit">診療所見を保存</button>

			</form>
		</div>

	</div>

	<script>

		function showFormSection() {
			// すべてのフォーム部分を隠す
			document.getElementById('referralForm').style.display = 'none';
			document.getElementById('clinicalFindingsForm').style.display = 'none';

			// ユーザーの選択に基づいてフォーム部分を表示
			var selectedType = document.getElementById('documentType').value;
			if (selectedType === 'referral') {
				document.getElementById('referralForm').style.display = 'block';
			} else if (selectedType === 'clinicalFindings') {
				document.getElementById('clinicalFindingsForm').style.display = 'block';
			}
		}

		function loadDepartments(formType) {
			var hospitalSelectId = formType === 'referral' ? 'referralHospitalSelect' : 'clinicalHospitalSelect';
			var departmentSelectId = formType === 'referral' ? 'referralDepartmentSelect' : 'clinicalDepartmentSelect';

			var hospitalId = document.getElementById(hospitalSelectId).value;
			var departmentSelect = document.getElementById(departmentSelectId);
			departmentSelect.innerHTML = '<option value="">-- 選択してください --</option>';

			if (hospitalId) {
				fetch('/departments?hospitalId=' + hospitalId)
					.then(response => response.json())
					.then(data => {
						data.forEach(function (department) {
							var option = document.createElement('option');
							option.value = department.departmentId;
							option.text = department.departmentName;
							departmentSelect.add(option);
						});
					});
			}



			// Automatically set the current date
			document.getElementById('introductionDate').innerText = new Date().toLocaleDateString();
		}
	</script>
</body>

</html>