<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="/css/home.css">
</head>

<body>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">

				<div class="search-container">
					<form th:action="@{/home}" th:object="${intro_status}" method="get" class="form-control">

						<div class="col-md-3">
							<input type="text" id="patientId" name="patientId" placeholder="患者ID">
							<input type="text" id="keyword" name="keyword" placeholder="キーワード［例:患者氏名、文書名、文書状態、紹介先］">
						</div>

						<div class="date-range-container">
							<label for="startdate">日付:</label>
							<input type="date" id="startdate" name="startdate"><span>~</span><input type="date"
								id="enddate" name="enddate">

							<div th:if="${dateError}">
								<p style="color: red;" th:text="${dateError}"></p>
							</div>

						</div>

						<div class="col-md-3">
							<input type="submit" value="条件検索">
						</div>
					</form>


					<table class="table" border="1">
						<thead>
							<tr>
								<!--								<th scope="col">表示</th>-->
								<!--								<th scope="col">編集</th>-->
								<!--								<th scope="col">確定解除</th>-->
								<!--								<th scope="col">削除</th>-->
								<th scope="col">状態</th>
								<th scope="col">患者ID</th>
								<th scope="col">文書</th>
								<th scope="col">患者氏名</th>
								<th scope="col">日付</th>
								<th scope="col">紹介元</th>
								<th scope="col">紹介先</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="introStatus : ${introStatusList}">
								<td th:text="${introStatus.status}"></td>
								<td th:text="${introStatus.patientId}"></td>
								<td th:text="${introStatus.documentId}"></td>
								<td th:text="${introStatus.patientName}"></td>
								<td th:text="${introStatus.introDate}"></td>
								<td th:text="${introStatus.introFrom}"></td>
								<td th:text="${introStatus.introTo}"></td>
							</tr>
						</tbody>
					</table>
					<div class="col-md-3">
						<button type="button" class="btn btn-primary"
							onclick="window.location.href='/searchPatientId'">新規作成</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>