<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="/css/home.css">
</head>

<body>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">

				<div class="search-container">
					<form th:action="@{/home}" th:object="${intro_status}" method="get" class="form-control">
						<div class="col-md-4">
							<label for="patientId">患者ID</label>
							<input type="text" id="patientId" name="patientId">
							<div class="col-md-8">
								<input type="submit" value="	患者ID検索">
							</div>
						</div>
						<div class="col-md-4">
							<label for="intro_status">状態</label>
							<select id="status" name="status">
								<option>作成中</option>
								<option>確定</option>
							</select>
						</div>

						<div class="col-md-4">
							<label for="intro_from">紹介元</label>
							<select id="intro_from" name="intro_from">
								<option>sss</option>
								<option>mmm</option>
								<option>lll</option>
							</select>
						</div>

						<div class="date-range-container">
							<label for="startdate">日付:</label>
							<input type="date" id="startdate" name="startdate"><span>~</span><input type="date"
								id="enddate" name="enddate">
						</div>

						<div class="col-md-4">
							<label for="keyword">キーワード</label>
							<input type="text" id="keyword" name="keyword" placeholder="	患者氏名、文書IDなど">
						</div>

						<div class="col-md-3">
							<input type="submit" value="条件検索">
						</div>
					</form>


					<table class="table" border="1">
						<thead>
							<tr>
								<!--								<th scope="col">表示</th>-->
								<!--								<th scope="col">編集</th>-->
								<!--								<th scope="col">確定解除</th>-->
								<!--								<th scope="col">削除</th>-->
								<th scope="col">状態</th>
								<th scope="col">患者ID</th>
								<th scope="col">文書</th>
								<th scope="col">患者氏名</th>
								<th scope="col">日付</th>
								<th scope="col">紹介元</th>
								<th scope="col">紹介先</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="introStatus : ${introStatusList}">
								<td th:text="${introStatus.status}"></td>
								<td th:text="${introStatus.patientId}"></td>
								<td th:text="${introStatus.documentId}"></td>
								<td th:text="${introStatus.patientName}"></td>
								<td th:text="${introStatus.introDate}"></td>
								<td th:text="${introStatus.introFrom}"></td>
								<td th:text="${introStatus.introTo}"></td>
							</tr>
						</tbody>
					</table>
					<div class="col-md-3">
						<button type="button" class="btn btn-primary"
							onclick="window.location.href='/searchPatientId'">新規作成</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>